{% extends 'layout.html' %} {% block content %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Flask con MongoDB</h1>
    </div>
    <div class="container">
        <div class="row row-col-1 row-cols-sm1 row cols-md2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card border-primary mb-3">
                    <div class="card-header">
                        <h5 class="text-center">Fromulario de Contactos</h5>
                    </div>
                    <div class="card-body">
                        <form action="/contact" method="POST">
                            <label for="">Nombre</label>
                            <input type="text" class="form-control mb-3" name="name">
                            <label for="">Precio</label>
                            <input type="text" class="form-control mb-3" name="price">
                            <label for="">Cantidad</label>
                            <input type="text" class="form-control mb-3" name="quantity">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}