{% extends 'layout.html' %} {% block content %}
<div class="container">
    <h1>Welcome to {{name}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sit modi error pariatur quam eligendi facere, quibusdam
        tempore similique officiis iure cupiditate nulla temporibus libero quidem vel repellat, incidunt veritatis?</p>
    <h3>Tecnologias que manejo</h3>
    <ul>
        {% for tech in techs %}
        <li>{{tech}}</li>
        {% endfor %}
    </ul>
    
    <h3>Usuarios de Clash of Clans</h3>
    <p>los usuarios que participaron: {{size_users}}</p>
    <ul>
        {% for user in users%}
        <li>{{user}}</li>
        {% endfor %}
    </ul>
    
    <p>usuarios que seran eliminados: {{size_delete}}</p>
    <ul>
        {% for to_delete in users_to_delete %}
        <li>{{ to_delete }}</li>
        {% endfor %}
    </ul>
    
    <p>los usuarios que quedaran: {{size_us}}</p>
    <ul>
        {% for us in users_success %}
        <li>{{ us }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}