{% extends 'base_template.html' %}

{% block title %}
    {% if form.title.data %}
        {{ form.title.data }}
    {% else %}
        Nueva entrada
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-col-1 row-cols-sm1 row cols-md2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card border-primary mb-3">
                    <div class="card-header">
                        <h5 class="text-center">Fromulario de Contactos</h5>
                    </div>
                    <div class="card-body">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            {{ form.title.label(class="form-label") }}
            {{ form.title(size=128, class="form-control") }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}

            {{ form.title_slug.label(class="form-label") }}
            {{ form.title_slug(size=128, class="form-control") }}<br>
            {% for error in form.title_slug.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}

            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control") }}<br>
            {% for error in form.content.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}

            {{ form.submit() }}

    </form>
{% endblock %}