.container {
    background-image: url('https: //arturocabrera.com/image/mA5QfEacD8dTAq38BOTsG5pvnLuy6Xh7qGr6E8Ua.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #0033a0;
    text: #fff;
}