{% extends 'base_template.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-col-1 row-cols-sm1 row cols-md2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card border-primary mb-3">
                    <div class="card-header">
                        <h5 class="text-center">Fromulario de Contactos</h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" novalidate>
                            {{ form.hidden_tag() }}
                            <!--Esto lo que hace es añadir todos los campos tipo hidden del formulario si los hubiera -->
    
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control") }} <br>
                            {% for error in form.email.errors %}
                                <span style="color: red">{{ error }}</span>
                            {% endfor %}
    
                            {{ form.password.label(class="form-label") }}
                            {{ form.password(class="form-control") }} <br>
                            {% for error in form.password.errors %}
                                <span style="color: red">{{ error }}</span>
                            {% endfor %}

                            {{ form.remember_me() }}{{ form.remember_me.label }}
    
                            {{ form.submit() }}
                        </form>
                    </div>
                    <div>
                        ¿No tienes Cuenta? <a href="{{ url_for('show_signup_form') }}">Registrate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}