{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Item to List{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
        <div class="form-group col-md-6">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Title" value="{{ request.form['title'] }}" required>
        </div>

        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" id="body" name="body" placeholder="write here a body message..." rows="3">{{ request.form['body'] }}</textarea>
        </div>

        <input class="btn btn-primary" type="submit" value="Save">
    </div>
  </form>
{% endblock %}
