{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lists{% endblock %}</h1>
  {% if g.user %}
    <a class="btn btn-primary" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for item in lists %}
    <article class="post">
      <header>
        <div>
          <h1>{{ item['title'] }}</h1>
          <div class="about">by {{ item['username'] }} on {{ item['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == item['author_id'] %}
          <a class="btn btn-success" href="{{ url_for('blog.update', id=item['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ item['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
