{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ item['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <div class="form-group">
        <div class="form-group col-md-6">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" value="{{ request.form['title'] or item['title'] }}" class="form-control" required>
        </div>

        <div-form-group class="col-md-12">
            <label for="body" class="form-label">Body</label>
            <textarea class="form-control" name="body" id="body" rows="3">{{ request.form['body'] or item['body'] }}</textarea>
        </div-form-group>

        <input class="btn btn-primary" type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=item['id']) }}" method="post">
    <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
